.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px 20px;
    margin-left: 5%;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 10px;
}

.navbar-right {
    display: flex;
    align-items: center;
    margin-right: 1%;
}

.navbar-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.navbar-button:hover {
    background-color: #0056b3;
}

.navbar-profile-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-left: 50px;
}

.navbar-profile-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.navbar-options {
    position: absolute;
    top: 40px;
    right: 10px;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}

.navbar-option {
    background: none;
    border: none;
    padding: 8px;
    cursor: pointer;
}

.navbar-option:hover {
    background-color: #e0e0e0;
}